import { User } from '../models/usuario.model';

export class UsuarioService {
  private lista: User[] = [];

  constructor(public armazenamento: User[] = []) {
    this.lista = armazenamento;
  }

  createSecureServer(user: {
    nome: string;
    telefone: string;
    email: string;
    senha: string;
    idade: number;
  }): User {
    const userCreated = new User(
      user.nome,
      user.telefone,
      user.email,
      user.senha,
      user.idade
    );
    this.lista.push(userCreated);
    return userCreated;
  }

  getUsers(): User[] {
    return this.lista;
  }

  getUserById(id: string): User | undefined {
    return this.lista.find((user) => user.getId() === id);
  }

  getUserByNome(nome: string): User | undefined {
    return this.lista.find((user) => user.getNome() === nome);
  }
}